html{
    font-size:85%;
  }
#Logo {
            position: static; /*cambiar a absolute para ver la diferencia*/
            left: 50px;
            top: 50px;
            width: 100%;
  }
.Encabezado{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            position: sticky;
            top: 0;
            padding: 5px;
            background-color: #cae8ca;
            border: 2px solid #4CAF50;
  }
.Encabezado nav a {
        background: rgb(130, 231, 252);
        color: rgb(6, 83, 248);
        padding: 2px;
        border: 1px solid rgb(6, 83, 248);
    }
    /*
    a:hover {
        background: rgb(142, 254, 176);
        color: rgb(4, 172, 20);
        padding: 8px 14px;
        border: 1px solid rgb(4, 172, 20);
    
        transition-property: all; 
        transition-duration: 0.5s; 
        transition-timing-function: ease-in; 
    } */
    
h4{color: #4CAF50;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;    
}
  